.custom-tab {
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.custom-tab.active {
    border-bottom: 2px solid #2306fd; /* Add bottom border for active tab */
}

.nav-tabs {
    border-bottom: none;
    /* Remove the border below tabs */
}

.nav-link {
    color: #333; /* Set tab text color */
    cursor: pointer;
}
